# Week 4 Seminar: Structural Equivalence, Roles, and Positions

## Properties of Nodes: Structural Equivalence, Roles, and Positions

This week, we’re discussing how networks can be used to try to identify the particular roles or positions that
individuals ﬁll. While all teachers or mothers or bosses are unique, they have similar relations with students or
children or employees. We can identify those common relational positions with networks.

Of course, I actually have yet more packages that you need to install. Use install.packages("blockmodeling") and install.packages("gplots") . (Note: a few students have had some trouble installing these; try to get these installed from the start. You can also try installing them by
clicking on the Tools > Install Packages option, or similarly ﬁnd it from the Packages tab on the bottom right window, and then click “Install”. Also, some students got an error talking about some Palette or somesuch
when trying to plot things – entering dev.off() should resolve this.)

### Structural Equivalence
#### Two-Mode Networks
As a ﬁrst step, let’s do this with a two-mode network. We’ll use the Southern Women Study bipartite network of women and the events that they attended. (See here (https://networkdata.ics.uci.edu/netdata/html/davis.html) (where I got the data) for a bit more info.)

I’m providing you with the incidence matrix for this matrix (which, recall, lists the events as rows and has a
column for each attendee), which we can quickly turn into a two-mode network and the two one-mode projection networks to remind ourselves about the shape of these data.

In [3]:
# Install libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import networkx as nx

In [9]:
swi = pd.read_csv("data/swn.csv")
swi.head()

,Unnamed: 0,Evelyn,Laura,Theresa,Brenda,Charlotte,Frances,Eleanor,Pearl,Ruth,Verne,Myrna,Katherine,Sylvia,Nora,Helen,Dorothy,Olivia,Flora
0,E1,1,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,E2,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,E3,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0
3,E4,1,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
4,E5,1,1,1,1,1,1,1,0,1,0,0,0,0,0,0,0,0,0

In [ ]:
# Plot the network